name: PHP++ CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        extensions: ffi
        ini-values: ffi.enable=true

    - name: Check FFI Status
      run: php -r "echo 'FFI is ' . (extension_loaded('ffi') ? 'Enabled ✅' : 'Disabled ❌');"

    - name: Test PHP++ Engine
      run: php pp.php # هنا جيت هاب بيحاول يشغل محركك ويشوف فيه أخطاء أو لا
